//fonts
$Poppins: 'Poppins', sans-serif;
$ProstoOne: 'Prosto One', cursive; 

//colors 

$browncolor: #9E6C2B;
$browncolorHover: #7d5522;


// button 
$buttonColor: #DE6E00;
$buttonColorHover: #b05800;
$buttonBorder: 30px;
